<html>
    <head>
        <style type="text/css">
            h1  { color: #FE2E2E;
                  font-family: serif; }
            h2  { color: #FF8000; }
            .p2 { color: black;
                  font-family: sans-serif;}
        </style>
    </head>

    <body>
        <div class="jumbotron">
        <h1>Sobre Super Gol</h1>

        <h2>¿Que es Super Gol?</h2>
        <div class="p2">
            <p>
                Super Gol es una competencia entre equipos imaginarios creados por los participantes, que se convierten en
                verdaderos directores técnicos: armando el equipo y poniéndole nombre, eligiendo a los jugadores y a su capitán. 
            </p>
        </div>

        <h2>Reglas del juego</h2>
        <div class="p2">
            <p>
                Sus reglas son simples, cada jugador del equipo sumará puntos de acuerdo a su posición en la cancha.
            </p>
        </div>
        </div>


    </body>

</html>