    <style>
        .glyphicon.glyphicon-user {
            font-size: 150px;
            color: black;
        }
        h1{ 
            color: #FE2E2E;
            font-family: serif;
        }
        div.jumbotron { 
            opacity: 0.9
        }

    </style>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div class="jumbotron">

    <div class="omb_login">
        <h1> Supergol </h1>
        
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-12 col-sm-6">
                <a href="#" class="btn btn-lg btn-block omb_btn-google">
                    <i class="fa fa-google-plus visible-xs"></i>
                    <span class="hidden-xs" ng-click="login()">entra con Google+</span>
                </a>
            </div>
        </div>
    </div>

</div>
