<style>
    .glyphicon.glyphicon-user {
        font-size: 150px;
        color: black;
    }
    h1{ 
        color: #FE2E2E;
        font-family: serif;
    }
    div.jumbotron { 
        opacity: 0.9
    }

</style>

<div class="jumbotron" ng-controller="HomeCtrl as home">
    <h1> Su informacion personal </h1>
     
    </br>

                <p>Tu nombre de usuario es: {{profile.name}}</p>
                <p>Tu email registrado es:  {{profile.email}}</p>
                <p>Tu id de usuario es:     {{id}}</p>
                <p>Tu nickname es:          {{profile.nickname}} </p>
                <p>Tu nombre es:            {{profile.given_name }} </p>
                <p>Tu apellido es:          {{profile.family_name  }} </p>
                <p>Tu foto de perfil es:    <img src="{{profile.picture}}"></p>
 </div>
 

