<html>
    <head>
        <style type="text/css">
            h1  { color: #FE2E2E;
                  font-family: serif; }
            h2  { color: #FF8000; }
            .p2 { color: black;
                  font-family: sans-serif;}
        </style>

    </head>

    <body>
        <div class="jumbotron">
        <h1>Sobre Super Gol</h1>

        <h2>¿Que es Super Gol?</h2>
        <div class="p2">
            <p>
                Super Gol es una competencia entre equipos imaginarios creados por los participantes, que se convierten en
                verdaderos directores técnicos: armando el equipo y poniéndole nombre, eligiendo a los jugadores y a su capitán. 
            </p>
        </div>

        <h2>Reglas del juego</h2>
        <div class="p2">
            <p>
                Sus reglas son simples, cada jugador del equipo sumará puntos de acuerdo a su posición en la cancha.
            </p>
            </br>
            </br>
                      
                            <p> Arquero   : Suma 2 puntos si no le convierten goles. </p>
                            <p> Defensor  : Suma 3 puntos por cada gol que mete. </p>
                            <p> Volante   : Suma 1 puntos por cada gol que mete. </p>
                            <p> Delantero : Suma 1 puntos por cada gol que mete. </p>
                    
                </ul>
            </br>
            </br>
            <p>
                El esquema dado en el torneo va a ser el mismo para todos: 3-4-3.
            </p>
        </div>
       
    
    </div>

    </body>

</html>