
<style>
    .glyphicon.glyphicon-user {
        font-size: 150px;
        color: black;
    }
    h1{ 
        color: #FE2E2E;
        font-family: serif;
    }
    div.jumbotron { 
        opacity: 0.9
    }
</style>

<form class="form-horizontal" role="form" ng-submit="uploadRT()">
    <div class="jumbotron">
        <div class="omb_login">
            <h1> Carga de Equipos Reales </h1>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                             <input type="file" ng-model="file"/>
                        </div>
                        <span class="help-block"></span>
                        <input type="submit" value="Enviar"> 
                </div>
            </div>         
        </div>
     </div>
 </form> 