<style>
    .glyphicon.glyphicon-user {
        font-size: 150px;
        color: black;
    }
    h1{ 
        color: #FE2E2E;
        font-family: serif;
    }
    div.jumbotron { 
        opacity: 0.9
    }
</style>

<div class="jumbotron">
    <form class="form-horizontal" role="form" ng-submit="uploadRT()">
        <h1> Carga de Equipos Reales </h1>
        <div class="form-group">
            <div style="position:relative;" align="left">
                <form method="post" action="loadTeams" enctype="multipart/form-data">
                    <input type="file" name="archivo" /><br />
                    <input type="submit" class='btn btn-primary' value="Cargar" />
                </form>
            </div>
        </div>        
    </form>
</div>